.publication{
    border:solid 1px black;
    width: 80vh;
    margin: auto;
}
.parent-feed{
   display: flex;
   width: 50vh;
   
      
}
.image img{
    
    width: 50px;
    border-radius: 20px;
    margin-left: 7rem;
}

.image{
    flex: 1;
    
}


.name{
    flex: 2;    
}

h5{
    color: rgba(128, 128, 128, 0.726);
}

.content-publication img{
    max-width: 50vh;
    border-radius: 25px;
    /* opacity: 0.8; */

}

.content-publication{
    width: 25vh;
    margin: 7rem;
}