.container{
    margin: 5px;
    padding: 5px;
}
.father-main{
   
    border: solid grey 2px;

}

.data-user{
   
    border-radius: 10px; 
    background-position: left top;
    position: relative;  
      
}

.photo-main{
    background-image: url("../images/pexels-rodnae-productions-7045408.jpg");
    background-size:100% 40vh;
    background-repeat: no-repeat;
    min-height: 40vh;
}

.information{
    margin-left: 25rem;
}

.photoperfil{
    position: absolute;
    left: 15rem;
    top: 18rem;
}

.photoperfil img{
    border-radius: 60px;
    border: solid white;
    z-index: -1;
}

.about{
    display: flex; 
    flex-direction: row;  
    justify-content: center; 
    margin: 5px;
    margin-top: 15px;
    padding: 5px;
    border: solid grey 2px;
    width: 90rem;

}

.about-me-left{
    padding-left: 6rem;
    align-items: center;
}

.link-icon{
    display: flex;
    flex-direction: row;   
}

.icon{
    
}
.about-me-left{
    min-width: 30rem;
}

.about-me-right{
    min-width: 30rem;
}

.new-publications{
    display: flex; 
    flex-direction: column;  
    justify-content: center; 
    margin: 5px;
    margin-top: 15px;
    padding: 10px;
    border: solid grey 2px;
    width: 70vh;
    height: 35vh;
}

.icon{
    width: 40px;
    height: 60px;
    padding-right: 3rem;
}

.radius{
    border-radius: 25px;
}

.footer-publication{
    display: flex;
    flex-direction: row;
    align-self: center;
}

.area{
    margin-top: 2rem;
}

.text-area{
    resize: none;
    border: none;
    background-color: whitesmoke;
}



.button-publication{
    color: black;
    width: fit-content;
}

.header-publications{
    text-align: center;
    border-bottom: solid grey 2px;
}
